<div class="question-container">
	<div>{{ selectedQ.name }}</div>
	<div>{{ selectedQ.contentHeader }}</div>
	<div ng-if="selectedQ.type !== 'table'">{{ selectedQ.content }}</div>
	<div ng-if="selectedQ.type === 'table'">
		<span ng-repeat="contentLine in selectedQ.content">{{ $index+1 }}.) {{ contentLine }}<br></span>
	</div>
	<div ng-if="!selectedQ.answered" ng-repeat="choice in selectedQ.choices">
		<label>
			<input type="radio"
			       name="{{selectedQ.name}}"
			       value="{{ choice.name }}"
			       ng-model="option.selectedChoice">
		{{ choice.name }}</label>
	</div>
	<div ng-if="selectedQ.answered && selectedQ.correct">
		Nice job!
	</div>
	<div ng-if="selectedQ.answered && !selectedQ.correct">
		Wrong answer!
	</div>

	<a ng-show="selectedQ.answered" ng-href="{{ selectedQ.source1 }}" target="_blank">(Source)</a>
	<a ng-show="selectedQ.answered && selectedQ.source2" ng-href="{{ selectedQ.source2 }}" target="_blank">& (Source)</a>

	<button type="submit" ng-if="!selectedQ.answered" ng-click="checkAnswer()">Check Answer</button>
</div>